<md-card>
  <md-card-header style="padding: 0;">
    <md-card-header-text style="color:white; background-color:#3F1C3E; justify-content: center; padding: 15px;">
      <span class="md-title">Info API, 1.0.0</span>
    </md-card-header-text>
  </md-card-header>
  <!--<md-card-title>
    <md-card-title-text>
      <span class="md-headline">Card with image</span>
      <span class="md-subhead">Large</span>
    </md-card-title-text>
  </md-card-title>-->
  <md-card-content style="flex-direction:column;">
    <div>
      <span> A whole bunch of text, blah blah blah, some data. How are you? I am well thank you.</span>
    </div>
    <div style="display: flex; flex-flow:row wrap;">
      <div style="display: flex; align-content:center;">
        <span style="padding:2px;"> eric correia: </span>
        <div>
          <a href="mailto:google@google.com">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
            </svg>
          </a>
        </div>
        <div><a href="google.com">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 18c1.1 0 1.99-.9 1.99-2L22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2H0v2h24v-2h-4zM4 6h16v10H4V6z"/>
          </svg></a>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
  </md-card-actions>
</md-card>
