<div id="response-modal" class="modal blue-grey darken-1 modal-fixed-footer">
  <form ng-submit="rmControl.updateResponse(rmControl.tempResponse)">
    <div class="modal-content white-text">
      {{rmControl.tempResponse}}
      <div class="row">
        <div class="left-align col s12">
          <h4>Response Options</h4>
        </div>
      </div>
      <div class="input-field col s12 valign">
        <input id="response-modal-name" ng-model="rmControl.tempResponse.httpCode" type="text" required="" aria-required="true"/>
        <label for="response-modal-name">Response Name</label>
      </div>
      <div class="input-field col s12 valign">
        <textarea id="response-modal-description" ng-model="rmControl.tempResponse.response.description" class="materialize-textarea"></textarea>
        <label for="response-modal-description">Description</label>
      </div>
      <div class="row valign-wrapper">
        TODO ADD HEADERS AND EXAMPLES TEXT AREAS
        <!-- <div class="input-field col s12 valign"
          ng-repeat="(key, value) in rmControl.tempResponse.response"
          ng-if="key !== 'description'">
          <textarea ng-attr-id="response-modal-{{key}}" ng-model="rmControl.tempResponse.response[key]" class="materialize-textarea"></textarea>
          <label ng-attr-for="response-modal-{{key}}">{{ key | capitalize}}</label>
        </div> -->
      </div>
      <div class="section">
        <div>
          <h5>Schema</h5>
        </div>
        <sg-schema-editor sg-schema-object="rmControl.tempResponse.response.schema" sg-restrict-type-to-object="false"></sg-schema-editor>
      </div>
    </div>
    <div class="modal-footer blue-grey darken-1 ">
      <button type="submit" ng-show="prevent.paramConfig"
        class=" waves-effect waves-green btn disabled">
      Update Response
      </button>
      <button type="submit" ng-hide="prevent.paramConfig"
        class=" waves-effect waves-green btn modal-action modal-close">
      Update Response
      </button>
      <div class="container">
        <button class=" waves-effect waves-green btn modal-action modal-close">
        Cancel
        </button>
      </div>
    </div>
  </form>
</div>
