<md-toolbar style="background: #f6f6f6 !important; color: #202020 !important; z-index: 3;">
  <div style="max-width: 945px; padding: 0; margin: 0 24px; width: auto;">
    <div style="display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;">
        <h5>Swagger Graphical Editor</h5>
        <a href="https://github.com/booknds/sge/issues" style="display:flex; margin-left:10px;">
            <img src="dist/img/img-df8a65.svg" style="height:40px;"/>
        </a>
    </div>
  </div>
</md-toolbar>
