<header>

  <nav class="top-nav " style="background-color:#f9f9f9;">
    <div class="row">
      <div class="col s12 m7">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
      <i class="mdi-navigation-menu"></i>
    </a>
    <div class="nav-wrapper ">
      <div class="">
      <a href="#" class="brand-logo page-title" style="color: #3F1C3E">
        Swagger Graphical Editor
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="">
        <!-- <li><a href="http://hkmconsultingllc.com"> HKM Solutions</a></li> -->
      </ul>
      <div>
    </div>
  </div>
  </div>
  </nav>

  <sg-sidenav></sg-sidenav>
</header>
