<h5>Parameters</h5>
<table class=" section bordered responsive-table">
  <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="in">Located In</th>
      <th data-field="description">Description</th>
      <th data-field="required">Required</th>
      <th data-field="Schema">Schema</th>
      <th data-field="Edit">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="param in paramControl.sgContext.parameters | orderBy:'name'">
      <div >
        <td class=" shrink">{{param.name}}</td>
        <td class="">{{param.inLocation}}</td>
        <td class="shrink ">{{param.description}}</td>
        <td class="">{{param.required}}</td>
        <td class="shrink">{{param.schema}}</td>
        <td class="">
          <!-- <a class="disabled" href="#param-modal" modal
          ng-click="paramControl.editParamData(pathName, operation, param.name, param.inLocation, $index)"
          ng-click="paramControl.showPathCreator($event)" >
          <i class="material-icons">settings</i> -->
          <!-- <a class="disabled" ng-click="paramControl.showParamEditor($event, param.name, param.inLocation)" >
          <i class="material-icons">settings</i>
          </a> -->
          <md-button ng-click="paramControl.showParamEditor($event, param.name, param.inLocation)">
            <i class="material-icons">settings</i>
          </md-button>
        </td>
      </div>
    </tr>
  </tbody>
</table>
<!-- <form name="addParameter" ng-submit="addParameter.name.$valid && paramControl.addParam(paramControl.newParamData[paramControl.sgThisOperation].name, paramControl.newParamData[paramControl.sgThisOperation].inLocation)"> -->
<form name="addParameter" >
    <div style="display:flex; flex-direction:row;">
        <md-input-container style="flex-grow:1;">
            <label>Parameter Name</label>
            <input
                name="name"
                ng-model="paramControl.newParamData[paramControl.sgThisOperation].name" type="text" required>
            <div ng-if="addParameter.name.$dirty">
                <div  ng-messages="addParameter.name.$error" role="alert" >
                    <div ng-message="required">
                        Parameter name is required.
                    </div>
                </div>
            </div>

        </md-input-container>
        <sg-dropdown
            sg-label="In Location"
            ng-model="paramControl.newParamData[paramControl.sgThisOperation].inLocation" sg-default-option="Choose Parameter Location" sg-choices="paramControl.inLocationList">
        </sg-dropdown>

        <div style="display:flex; align-items: flex-start; margin-top: 20px;">
            <md-button
              style="display: flex; align-items: center; justify-content: center;"
              ng-click="addParameter.name.$valid && paramControl.addParam(paramControl.newParamData[paramControl.sgThisOperation].name, paramControl.newParamData[paramControl.sgThisOperation].inLocation)">
              <i class="material-icons">add</i>
              <md-tooltip>
                  Add Parameter
              </md-tooltip>
            </md-button>
        </div>

    <!-- <div sg-unique-input class="input-field col s4 valign">
      <input id="input" name="name" ng-model="paramControl.newParamData[paramControl.sgThisOperation].name" type="text" required=""/>
      <label id="label" for="label">Parameter Name</label>
    </div>
    <div class="input-field col s4 valign" >
      <sg-dropdown sg-label="In Location" ng-model="paramControl.newParamData[paramControl.sgThisOperation].inLocation" sg-default-option="Choose Parameter Location" sg-choices="paramControl.inLocationList"></sg-dropdown>
    </div>
    <div class="col s4 valign">
      <button  class="waves-effect waves-light btn" ng-class="{ 'disabled': addParameter.name.$invalid }">
      <i class="material-icons">add</i>
      </button>
    </div>
  </div>
  <div class="valign-wrapper">
    <div class="col s4 valign">
      <div  class="error"
            ng-show="addParameter.name.$dirty && addParameter.name.$invalid">
        <small class="error"
              ng-show="addParameter.name.$error.required">
          Parameter name is required.
        </small>
      </div>
    </div>
    <div class="col s4"></div>
    <div class="col s4">
    </div> -->
  </div>
</form>
