<md-dialog aria-label="New Definition" ng-cloak>
  <form name="createDef">
    <md-toolbar style="background-color:#3F1C3E;">
      <div class="md-toolbar-tools">
        <h2>New Definition</h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="row">
          <div class="input-field col s12 ">
            <input name="defName"
                    type="text"
                    ng-model="definitionCreation.newDefinition.name"
                    required aria-required="true">
            <label for="definition-name">Definition Name</label>
          </div>
          <div class="input-field col s12 ">
            <textarea id="definition-description" ng-model="definitionCreation.newDefinition.description" class="materialize-textarea"></textarea>
            <label for="definition-description">Description</label>
          </div>
      </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <!-- <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button> -->
      <span flex></span>
      <md-button ng-click="definitionCreation.cancel();">
       Cancel
      </md-button>
      <md-button ng-disabled="createDef.defName.$invalid" ng-click="definitionCreation.addDefinition(definitionCreation.newDefinition.name, definitionCreation.newDefinition.description);" style="margin-right:20px;">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
