
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="background-color: #3F1C3E; width: 272px; min-width: 272px; max-width: 272px;">
  <header style="background-color: #3F1C3E; display:flex; justify-content: center; align-items: center; min-height: 64px;">
      <a href="http://www.booknds.com/" class="docs-logo" >
          <img src="./img/img-60c82a.svg" alt="" style="height:39px; width:208px;">
          <!-- <h1 class="docs-logotype md-heading">Angular Material</h1> -->
      </a>
  </header>
  <!-- <div style="border-top: solid 1px; border-color: white;"></div> -->
  <md-content layout-padding style="background-color: #3F1C3E;" >
    <md-list ng-cloak style="background-color: #3F1C3E; padding: 0;">
        <ul ng-repeat="(key, value) in sidenav.content" style="margin:0">
            <md-button style="display: flex; flex-grow: 1; color: #3F1C3E; margin: 0;" ng-click="sidenav.toggleDropdown(key);" href="">
                <p style="text-transform:none; display: flex; flex-grow: 1; color: white;">{{key | capitalize}}</p>
            </md-button>
            <li ng-show="sidenav.show[key]" ng-repeat="item in value">
                <md-list-item ng-hide="sidenav.isOpenLocal(key, item.title)" class="secondary-button-padding" style="background-color: #70326E;" ng-click="item.op();">
                    <p style="color:white;">{{item.title}}</p>
                    <!-- <md-button class="md-secondary" >Save To Local</md-button> -->
                </md-list-item>
                <md-list-item ng-show="sidenav.isOpenLocal(key, item.title)" class="secondary-button-padding" ng-click="item.op();" for="file-input" style="background-color: #70326E; margin" >
                  <p for="file-input" style="color:white;">{{item.title}}</p>
                  <input custom-on-change="sidenav.onChange" style="display:none;" id="file-input" type="file">
                </md-list-item>
            </li>
        </ul>
    </md-list>
  </md-content>
</md-sidenav>
