
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" style="background-color: #3F1C3E; width: 272px; min-width: 272px; max-width: 272px;">
  <header style="background-color: #3F1C3E; display:flex; justify-content: center; align-items: center; min-height: 64px;">
      <a href="http://www.booknds.com/" class="docs-logo" >
          <img src="./img/img-60c82a.svg" alt="" style="height:39px; width:208px;">
          <!-- <h1 class="docs-logotype md-heading">Angular Material</h1> -->
      </a>
  </header>
  <!-- <div style="border-top: solid 1px; border-color: white;"></div> -->
  <md-content layout-padding style="background-color: #3F1C3E;" >
  <md-list ng-cloak style="background-color: #3F1C3E;">
    <md-list-item class="secondary-button-padding" style="background-color: #3F1C3E;" ng-click="sidenav.download();">
        <p style="color:white;">Save To Local</p>
        <!-- <md-button class="md-secondary" >Save To Local</md-button> -->
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click="sidenav.openFile();" for="file-input" style="background-color: #3F1C3E; margin" >
        <p for="file-input" style="color:white;">Open From Local</p>
          <input custom-on-change="sidenav.onChange" style="display:none;" id="file-input" type="file">
    </md-list-item>
  </md-list>
  </md-content>
</md-sidenav>
