<div id="param-modal" class="modal blue-grey darken-1 modal-fixed-footer">
  <form name="editParam" novalidate ng-submit="paramModalControl.updateParameter()">
    <div class="modal-content white-text">
      <div class="row">
        <div class="left-align col s12">
          <h4>Parameter Options</h4>
        </div>
      </div>
      <div class="row valign-wrapper">
        <div class="input-field col s3 valign">
          <input id="newParamUtil" name"paramName" ng-model="paramModalControl.tempParam.name" type="text" required="" aria-required="true"/>
          <label for="newParamUtil">Parameter Name</label>
        </div>
        <div class="input-field col s3 valign" >
          <select class="browser-default" style="background-color: #455a64;" select-value ng-model="paramModalControl.tempParam.inLocation" ng-change="paramModalControl.setParamInModal(paramModalControl.tempParam.inLocation)" >
            <option value="" disabled selected>Parameter Location</option>
            <option value="path" id="path">Path</option>
            <option value="query" id="query">Query</option>
            <option value="header" id="header">Header</option>
            <option value="body" id="body">Body</option>
            <option value="formData" id="formData">Form Data</option>
          </select>
          <!--label>In</label-->
        </div>
        <div class=" col s3 valign" >
          <p>
            <input type="checkbox" ng-model="paramModalControl.tempParam.allowEmptyValue" id="allowEmptyValue" />
            <label for="allowEmptyValue">Allow Empty Value</label>
          </p>
        </div>
        <div class="col s3 valign" >
          <p ng-if="paramModalControl.tempParam.inLocation !== 'path'">
            <input type="checkbox" ng-model="paramModalControl.tempParam.required" id="required" />
            <label for="required">required</label>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="param-description" ng-model="paramModalControl.tempParam.description" class="materialize-textarea"></textarea>
          <label for="param-description">Description</label>
        </div>
        <div class="input-field col s4 valign"
              ng-repeat="(optionTypeName, optionTypeValue) in paramModalControl.paramOptions">
          <select class="browser-default" style="background-color: #455a64;" select-value ng-model="paramModalControl.tempParam[optionTypeName]" >
            <option value="" selected>Parameter {{ optionTypeName | capitalize }}</option>
            <option ng-repeat="type in optionTypeValue"
                    ng-if="(collection === 'multi' && (paramModalControl.tempParam.inLocation === 'query' || paramModalControl.tempParam.inLocation === 'formData')) || collection !== 'multi' "
                    ng-attr-value="{{ type }}"
                    ng-attr-id="{{ type }}">{{ type }}</option>
          </select>
        </div>
        <div class="input-field col s12 valign" >
          <div ng-if="paramModalControl.tempParam.type === 'array'">
            <textarea id="param-items" ng-model="paramModalControl.tempParam.items" class="materialize-textarea" required="" aria-required="true"></textarea>
            <label for="param-items">Items</label>
          </div>
        </div>
        <div  class="input-field col s12 l6">
          <textarea id="param-extra" ng-model="paramModalControl.tempParam.extra" class="materialize-textarea"></textarea>
          <label for="param-extra">Extra values</label>
        </div>
      </div>
      <div  ng-if="paramModalControl.tempParam.inLocation === 'body'" class="row">
        <!-- <div class="input-field col s12 l6">
          <textarea id="param-description" ng-model="paramModalControl.tempParam.description" class="materialize-textarea"></textarea>
          <label for="param-description">Description</label>
        </div>
        <div class="input-field col s12 l6">
          <textarea id="param-schema" ng-model="paramModalControl.tempParam.schema" class="materialize-textarea"></textarea>
          <label for="param-schema">Schema</label>
        </div> -->
        <div>
          <h4>Schema</h4>
        </div>
        <sg-schema-editor sg-schema-object="paramModalControl.tempParam.schema" sg-restrict-type-to-object="false"></sg-schema-editor>
      </div>
    </div>
    <div class="modal-footer blue-grey darken-1 ">
      <button type="submit" ng-show="prevent.paramConfig"
        class=" waves-effect waves-green btn disabled">
      Update Parameter
      </button>
      <button type="submit" ng-hide="prevent.paramConfig"
        class=" waves-effect waves-green btn modal-action modal-close">
      Update Parameter
      </button>
      <div class="container">
        <button class=" waves-effect waves-green btn modal-action modal-close">
        Cancel
        </button>
      </div>
    </div>
  </form>
</div>
