<h5>Response</h5>
<table  class="section bordered responsive-table">
  <thead>
    <tr>
      <th data-field="code">Code</th>
      <th data-field="description">Description</th>
      <th data-field="Schema">Schema</th>
      <th data-field="Edit">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(responseCode, response) in $ctrl.operationObj ">
      <div >
        <td>{{responseCode}}</td>
        <td class="shrink">{{response.description}}</td>
        <td class="shrink">{{response.schema | removeEmpty}}</td>
        <td>
          <a class="disabled" ng-click="$ctrl.showResponseEditor($event, responseCode)">
          <i class="material-icons">settings</i>
          </a>
        </td>
      </div>
    </tr>
  </tbody>
</table>
<form name="addResponse" >
  <div style="display:flex; flex-direction:row;">
        <md-input-container style="flex-grow:1;">
            <label>Http Code</label>
            <input
                ng-model="$ctrl.newResponseData[$ctrl.operationType].httpCode"
                ng-pattern="/^(Default|default)?([0-9]+)?$/"
                name="code"
                type="text"
                required>
            <div ng-if="addResponse.code.$dirty">
                <div  ng-messages="addResponse.code.$error" role="alert" >
                    <div ng-message-exp="['required', 'pattern']">
                        Http code is required and must by a number or 'default'
                    </div>
                </div>
            </div>

        </md-input-container>
        <md-input-container style="flex-grow:1;">
            <label>Code Description</label>
            <input
                ng-model="$ctrl.newResponseData[$ctrl.operationType].description"
                name="description"
                type="text"
                required>
            <div ng-if="addResponse.description.$dirty">
                <div ng-messages="addResponse.description.$error" role="alert" >
                    <div ng-message="required">
                        Code description is required.
                    </div>
                </div>
            </div>
        </md-input-container>
        <div style="display:flex; align-items: flex-start; margin-top: 20px;">
            <md-button ng-disabled="addResponse.$invalid"
              style="display: flex; align-items: center; justify-content: center;"
              ng-click="addResponse.$valid && $ctrl.addResponse($ctrl.newResponseData[$ctrl.operationType].httpCode, $ctrl.newResponseData[$ctrl.operationType].description)">
              <i class="material-icons">add</i>
              <md-tooltip>
                  Add Response
              </md-tooltip>
            </md-button>
        </div>
  </div>
</form>
