<li>
  <!-- <div sgOperationColorer="operationCtl.sgOperationName" operationTitle="{{operationCtl.sgOperationName}}" id="operation-header" class="collapsible-header white-text"> -->
  <div sg-operation-colorer="{{operationCtl.sgOperationName}}" class="collapsible-header white-text">
    <i class="material-icons">filter_drama</i>{{ operationCtl.sgOperationName | uppercase }}
  </div>
  <div class="collapsible-body" style="margin-left:2%; margin-right:2%;">
    <div class="" style="display:flex; flex-direction:column;">
      <div sg-unique-input class="input-field">
        <input id="input"
          ng-attr-placeholder="operationCtl.sgOperationObject.summary"
          ng-model="operationCtl.sgOperationObject.summary"
          maxlength="150" type="text"/>
        <label id="label"  for="label">Summary</label>
      </div>
      <div sg-unique-input class="input-field">
        <textarea id="input"
          ng-attr-placeholder="operationCtl.sgOperationObject.description"
          ng-model="operationCtl.sgOperationObject.description"
          class="materialize-textarea"></textarea>
        <label id="label" for="label">Description</label>
      </div>
    </div>
    <sg-parameter sg-this-operation="{{operationCtl.sgOperationName}}" sg-context="operationCtl.sgOperationObject"></sg-parameter>
    <sg-response sg-this-operation="{{operationCtl.sgOperationName}}" sg-context="operationCtl.sgOperationObject.responses"></sg-response>
    <ng-transclude></ng-transclude>
  </div>
</li>
