<div class="section" ng-cloak>
  <!-- <sg-path-creator-modal></sg-path-creator-modal> -->
  <div class="row">
    <div class="col s12 m7" style="margin-left:2.33%;">
      <div class="card ">
        <md-toolbar style="background-color:#3F1C3E;">
          <div class="md-toolbar-tools" style="display:flex; justify-content:space-between;">
            <h2>
              <span>Paths</span>
            </h2>
            <div style="padding-top:6%" class="right-align">
              <a ng-click="pathCtl.showAdvanced($event)"
                class="btn-floating btn-large waves-effect waves-light purple accent-4"
                >
                <i class="material-icons">add</i>
              </a>
              <!-- <a ng-click="openFocusPathModal()"
                class="btn-floating btn-large waves-effect waves-light purple accent-4"
                href="#path-creation-modal"
                modal>
              <i class="material-icons">add</i>
              </a> -->
              <!-- <md-button class="md-fab md-primary purple accent-4" ng-click="showConfirm($event)"  flex="100"  flex-gt-md="auto">
                <i class="material-icons">add</i>
              </md-button> -->
            </div>
          </div>
        </md-toolbar>
        <div class="card-content">
          <div ng-hide="pathCtl.prevent.showPaths" ng-repeat="(pathName, pathValue) in pathCtl.paths">
            <div class="row valign-wrapper">
              <div class="input-field valign col s8">
                <input id="path-name" ng-attr-placeholder="{{pathName}}" type="text" ng-model="pathCtl[pathName].newName">
              </div>
              <div class="valign col s2">
                <button class="btn waves-effect waves-light" type="button" ng-click="pathCtl.updatePathName(pathName, pathCtl[pathName].newName)" name="action">
                  Update
                </button>
              </div>
              <div class="valign col s2">
                <button class="btn-flat waves-effect waves-light" type="submit" name="action" ng-click="pathCtl.deletePath(pathName)">
                <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
            <div>
              <div style="display:flex; flex-direction:row; justify-content:flex-start;">
                <div>Operations:</div>
                <!-- <a ng-repeat="operation in pathCtl.operations | orderBy:operation"
                    style="margin-left:2%;"
                    ng-hide="pathCtl.hasOperation(pathName, operation)"
                    sg-operation-colorer="{{operation}}"
                    class="waves-effect waves-light btn white-text" ng-click="pathCtl.addOperation(pathName, operation)">
                    {{operation | uppercase}}
                </a> -->
                <a 
                    style="margin-left:2%;"
                    ng-hide="pathCtl.paths[pathName].hasOwnProperty('get')"
                    sg-operation-colorer="get"
                    class="waves-effect waves-light btn white-text" ng-click="pathCtl.addOperation(pathName, 'get')">
                    {{'get' | uppercase}}
                </a>
                <a 
                    style="margin-left:2%;"
                    ng-hide="pathCtl.paths[pathName].hasOwnProperty('post')"
                    sg-operation-colorer="post"
                    class="waves-effect waves-light btn white-text" ng-click="pathCtl.addOperation(pathName, 'post')">
                    {{'post' | uppercase}}
                </a>
                <a 
                    style="margin-left:2%;"
                    ng-hide="pathCtl.paths[pathName].hasOwnProperty('put')"
                    sg-operation-colorer="put"
                    class="waves-effect waves-light btn white-text" ng-click="pathCtl.addOperation(pathName, 'put')">
                    {{'put' | uppercase}}
                </a>
                <a 
                    style="margin-left:2%;"
                    ng-hide="pathCtl.paths[pathName].hasOwnProperty('delete')"
                    sg-operation-colorer="delete"
                    class="waves-effect waves-light btn white-text" ng-click="pathCtl.addOperation(pathName, 'delete')">
                    {{'delete' | uppercase}}
                </a>
              </div>
            </div>
            <div class="" layout="column">
              <ul class="collapsible popout" data-collapsible="accordion" watch>
                  <!-- <li class="" sg-operation sg-operation-name="{{operation}}" sg-operation-object="value" ng-repeat="(operation, value) in pathCtl.paths[pathName]" ng-show="pathCtl.paths[pathName][operation]">
                  </li> -->
                  <sg-operation sg-operation-name="{{operation}}"
                                sg-operation-object="value"
                                ng-repeat="(operation, value) in pathCtl.paths[pathName]">
                    <div style="display:flex; flex-direction:row-reverse;">

                    </div>
                  </sg-operation>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL FOR PARAM SPECIFICATION -->
  <sg-parameter-editor-modal></sg-parameter-editor-modal>
  <!-- MODAL for RESPONSE UPDATE -->
  <sg-response-editor-modal></sg-response-editor-modal>
</div>
