<div style="margin-left:2.33%;" ng-cloak>
  <div class="card ">
    <md-toolbar style="background-color:#3F1C3E;">
      <div class="md-toolbar-tools" style="display:flex; justify-content:space-between;">
        <h2>
          <span>Paths</span>
        </h2>
        <div style="margin-top: 55px;" class="right-align">
          <a ng-click="$ctrl.showPathCreator($event)"
            class="btn-floating btn-large waves-effect waves-light"
            style="background-color:#70326E"
            >
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </md-toolbar>
    <div class="card-content">
      <div ng-repeat="(pathName, pathValue) in $ctrl.paths">
        <div  style="display: flex; flex-flow:row nowrap; justify-content:flex-start;">
            <md-button style="display: flex; flex-grow: 1; color: #3F1C3E;" ng-click="$ctrl.toggleShowPath(pathName);" href="">
                <h4  style="text-transform:none; display: flex; flex-grow: 1;">{{pathName}}</h4>
            </md-button>
        </div>
        <div style="display: flex; flex-flow:column nowrap; justify-content:flex-start;" ng-hide="$ctrl.dontShowPaths[pathName]" class="fade">
            <form name="updateName" style="display: flex; flex-flow:row nowrap;  margin-left: 16px; align-items: center;">
                <md-input-container style="display:flex; flex-flow:column nowrap; flex-grow:2;">
                  <label>Change Path Name</label>
                  <input  type="text"
                        name="pathName"
                        ng-model="$ctrl[pathName].newName"
                        ng-pattern="/^\/[0-9a-zA-Z\/\.\_\-\{\}]*$/"
                        minlength="3"
                        maxlength="45" />
                    <div ng-if="updateName.pathName.$dirty" ng-messages="updateName.pathName.$error" role="alert" >
                        <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                          Your Path must be between 3 and 45 characters long and must start with a '/' (forward slash).
                        </div>
                    </div>
                </md-input-container>
                <div style="display: flex; flex-flow:row nowrap; justify-content:space-between;">
                    <md-button type="submit"
                        ng-click="$ctrl.updatePathName(pathName, $ctrl[pathName].newName)"
                        style="display:flex; justify-content:center; align-items:center;">
                        <i class="material-icons">loop</i>
                        <md-tooltip>
                            Update Path Name
                        </md-tooltip>
                    </md-button>

                    <md-button style="display:flex; justify-content:center; align-items:center;"
                        ng-click="$ctrl.deletePath(pathName)">
                        <i class="material-icons">delete</i>
                        <md-tooltip>
                            Delete Path
                        </md-tooltip>
                    </md-button>
                </div>
            </form>

              <div style="display:flex; flex-direction:row; justify-content:flex-start; align-items: center; margin-left: 16px;">
                <!-- <div>Operations:</div> -->
                <md-button
                    sg-operation-colorer-component
                    sg-operation-colorer="{{operation}}"
                    sg-selector="background-color"
                  ng-repeat="operation in $ctrl.operations"
                  ng-click="$ctrl.addOperation(pathName, operation)"
                  ng-hide="$ctrl.paths[pathName].hasOwnProperty(operation)"
                  style="margin-right:20px; color:white;">
                  {{operation | uppercase}}
                </md-button>
              </div>

                <div class="" layout="column">
                    <ul class="collapsible popout" data-collapsible="accordion" watch >
                        <li ng-repeat="(operation, value) in $ctrl.paths[pathName]">
                          <div sg-operation-colorer-component sg-selector="background-color" sg-operation-colorer="{{operation}}" style="display:flex; justify-content:space-between; align-items: center;" class="collapsible-header white-text">
                            <div>
                                <i class="material-icons">filter_drama</i>{{ operation | uppercase }}
                            </div>
                            <div >
                                <md-button style="display:flex; justify-content:center; align-items:center;"
                                    ng-click="$ctrl.deleteOperation(pathName, operation)">
                                    <i class="material-icons">delete</i>
                                    <md-tooltip>
                                        Delete Operation
                                    </md-tooltip>
                                </md-button>
                            </div>
                          </div>
                          <div class="collapsible-body" style="margin-left:2%; margin-right:2%;">
                              <sg-operation operation-type="{{operation}}" operation-obj="value">

                            </sg-operation>
                        </div>

                    </li>
                </ul>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>
