<div class="md-dialog-container" style="top: 0px; height: 726px; min-width: 240px; max-width: 80%; max-height: 80%;">
  <md-dialog aria-label="Edit Response" style="width:50%;" ng-cloak>

    <md-toolbar style="background-color:#3F1C3E;">
      <div class="md-toolbar-tools">
        <h2>Edit Definition</h2>
        <span flex></span>

      </div>
    </md-toolbar>
    <md-dialog-content>

        <div class="md-dialog-content" style="display:flex flex-direction:column;">
            <form name="editDefinition">
              <md-input-container >
                  <label>Name</label>
                  <input
                      ng-model="definitionEditor.tempDefinition.name"
                      name="name"
                      type="text"
                      required>
                  <div ng-if="editDefinition.name.$dirty">
                      <div  ng-messages="editDefinition.name.$error" role="alert" >
                          <div ng-message="required">
                              Definition name required.
                          </div>
                      </div>
                  </div>
              </md-input-container>
          </form>
          <sg-schema-editor sg-schema-object="definitionEditor.tempDefinition.value" sg-restrict-type-to-object="true"></sg-schema-editor>
        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="definitionEditor.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="definitionEditor.updateDefinition(definitionEditor.tempDefinition)">
        Update
      </md-button>
    </md-dialog-actions>

  </md-dialog>
</div>
