
<md-input-container class="md-block" flex-gt-sm>
  <label>{{dropdown.sgLabel}}</label>
  <md-select ng-model="dropdown.ngModel">
      <md-option value="">None</md-option>
    <md-option ng-repeat="choice in dropdown.sgChoices" value="{{ choice }}">{{ choice }}</md-option>
  </md-select>
  <!-- <select class=""  material-select watch>
    <option value="" selected>{{dropdown.sgLabel}}</option>
    <option ng-repeat="choice in dropdown.sgChoices">{{choice}}</option>
    <select select-value >
      <option value="" selected>{{dropdown.sgDefaultOption}}</option>
      <option ng-repeat="choice in dropdown.sgChoices" ng-attr-value="{{ choice }}" ng-attr-id="{{ choice }}">
        {{ choice }}
      </option>

 
    </select>
  </select> -->
</md-input-container>
