/*.container-padding {
    margin-left: 5px;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.white-text {
     color: black !important;
}*/

/*nav.top-nav {
    height: 122px;
    box-shadow: none;
}*/
/*ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}*/
/*#logo-container {
    height: 57px;
    margin-bottom: 32px;
}*/

/*@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}*/



/*.fade[aria-fade="true"] {
  transform: scaleY(1);
}*/

@keyframes appear {
  from {
    opacity: 0;
    /*transform: scaleY(0);*/
    max-height: 0px;
  }
  to {
    opacity: 1;
    /*transform: scaleY(1);*/
    max-height: 100000px;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    /*transform: scaleY(1);*/
    max-height: 100000px;

  }
  to {
    opacity: 0;
    /*transform: scaleY(0);*/
    max-height: 0px;
  }
}

.fade {
  /*transition: 0.5s linear all;*/
  transition: max-height 0.8s;
  /*-webkit-transition: 0.5s linear all;*/
}

.fade.ng-hide-add {
    animation:0.8s disappear;
}

.fade.ng-hide-remove {
    animation: 0.8s appear;
}

@keyframes expand {
  from {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      margin: 0 24px;
      transform: scaleY(0);
      /*transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);*/
     max-height: 0;
     opacity: 1;
     /*display:none;*/
  }
  to {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
      margin: 16px 0;
      transform: scaleY(1);
      max-height: auto;
      /*display:flex;*/
      opacity: 1;
  }
}
@keyframes contract {
  from {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
      margin: 16px 0;
      transform: scaleY(1);
      /*height:auto;*/
      /*display: flex;*/
      max-height: auto;
      opacity: 1;
  }
  to {
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      margin: 0 24px;
      transform: scaleY(0);
      max-height: 0;
      /*display: none;*/
      /*top:0;*/
      opacity: 0;
  }
}

.content-header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 24px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.content-container {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin: 0 24px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display:flex; flex-flow:column nowrap; margin-left:1%; margin-right:1%; border-right-color: black; border-right-style: solid; border-right-width: 1px; border-bottom-color: black; border-bottom-style: solid; border-bottom-width: 1px; border-left-color: black; border-left-style: solid; border-left-width: 1px;
}

.content-container.ng-hide-remove {
    animation: 1.0s expand;
}

.content-container.ng-hide-add{
    animation: 1.0s contract;
}

/*.fade.ng-hide{
    opacity: 0;
}*/

/*.fade.ng-hide-add {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.fade..ng-hide.ng-hide-add {
  opacity: 1;
}

.fade.ng-hide-remove {
  opacity: 1;
}

.fade.ng-hide.ng-hide-remove {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}*/

.path-title:hover {

}


#nav-mobile li.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}

#nav-mobile li.search .search-wrapper.focused {
    margin: 0;
}

#nav-mobile li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}


.shrink{
  max-width:100px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #9e9e9e;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}

.input-field label {
    /*color: white;*/
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
}
input.ng-invalid {
border-bottom: 1px solid #ff5252;
}

.error {
  color: #ff5252;
}
