<html lang="en-us" >
    <head>
        <title>Swagger Graphical Editor</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">
        
        
        <!-- angular material start -->
        
        <!-- angular material end -->
        
         <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
        
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
          
       
        
        <!-- load import scripts -->
        <script src="//code.angularjs.org/1.4.3/angular.min.js"></script>
        <script src="//code.angularjs.org/1.4.3/angular-route.min.js"></script>
        <script src="//code.angularjs.org/1.4.3/angular-resource.min.js"></script>
        <script src="//code.angularjs.org/1.4.6/angular-animate.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/swagInfoController.js"></script>
        <script src="js/services/baseInfoService.js"></script>
        <script src="js/directives/swaggerInfoItem.js"></script>
        <script src="js/controllers/swaggerPathController.js"></script>
        <script src="js/services/pathService.js"></script>
        <script src="js/controllers/swaggerResponseController.js"></script>
        <script src="js/services/swaggerCompilerService.js"></script>
        
        
        <style>
            #view-source {
              position: fixed;
              display: block;
              right: 0;
              bottom: 0;
              margin-right: 40px;
              margin-bottom: 40px;
              z-index: 900;
            }
        </style>
    </head>
    
    <body class="mdl-base" ng-app="SwaggerGraphicalEditor" >
       
        <header>
			<nav class="green darken-4">
                <div class="nav-wrapper container">
                  <a href="#" class="brand-logo">Swagger Graphical Tool</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                  </ul>
                </div>
              </nav>
		</header>
        
        <div class="container" ng-controller="BaseSwaggerInfo">
            
            <div class="row">
                <div class="col s12">
                    <h3>Api</h3>
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <p>Start building your Swagger definition by describing some basic info. Watch out some 
                          fields are required to enter, But don't worry we will prompt you if anything is missing.</p>
                        <div class="row">
                            <div class="col s12 m6">
                                <span class="card-title">Info</span>
                                <div class="row">
                                <form class="col s12">
                                  <div class="row">
                                    <div class="input-field col s8">
                                      <input id="email" type="email" class="validate">
                                      <label for="title" data-error="wrong" data-success="right">Title</label>
                                    </div>
                                    <div class="input-field col s4">
                                      <input id="last_name" type="text" class="validate">
                                      <label for="version">Version</label>
                                    </div>
                                  </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="textarea-description" class="materialize-textarea"></textarea>
                                            <label for="textarea-description">Description</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="last_name" type="text" class="validate"></input>
                                            <label for="textarea-description">Terms Of Service</label>
                                        </div>
                                    </div>
                                </form>
                              </div>
                            </div>
                            <div class="col s12 m6">
                                <div class="row">
                                    <form class="col s12">
                                        <span class="card-title">Contact</span>
                                        <div class="row">
                                            <div class="input-field col s4">
                                                <input id="last_name" type="text" class="validate"></input>
                                                <label for="textarea-description">Name</label>
                                            </div>
                                            <div class="input-field col s4">
                                                <input id="last_name" type="text" class="validate"></input>
                                                <label for="textarea-description">URL</label>
                                            </div>
                                            <div class="input-field col s4">
                                                <input id="last_name" type="text" class="validate"></input>
                                                <label for="textarea-description">Email</label>
                                            </div>
                                        </div>
                                        <span class="card-title">License</span>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="last_name" type="text" class="validate"></input>
                                                <label for="textarea-description">Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="last_name" type="text" class="validate"></input>
                                                <label for="textarea-description">URL</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                    <div class="card-action">
                      <a href="#">Add info</a>
                      <a href="#">Update info</a>
                    </div>
                  </div>
    
                    
                </div>
            </div>
            
            <a ng-click="toggleInfo()"><h3>info</h3></a>
            
            
            
            <div class="container" ng-hide="showInfo == false">
            
                <info-item enabled-info="editorEnabled" swagger-base="basicInfo.info" item="title" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                <info-item enabled-info="editorEnabled" swagger-base="basicInfo.info" item="description" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                <info-item enabled-info="editorEnabled" swagger-base="basicInfo.info" item="termsOfService" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                <a ng-click="toggleContact()"><h3>contact</h3></a>

                <div class="container" ng-hide="showContact == false">

                    <info-item enabled-info="editorEnabled" swagger-base="basicInfo.info.contact" item="name" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                    <info-item  enabled-info="editorEnabled" swagger-base="basicInfo.info.contact" item="url" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                    <info-item enabled-info="editorEnabled" swagger-base="basicInfo.info.contact" item="email" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                </div>
            
                <a ng-click="showLicense = !showLicense"><h3>license</h3></a>

                <div class="container" ng-hide="showLicense == false">

                    <info-item enabled-info="editorEnabled" swagger-base="basicInfo.info.license" item="name" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                    <info-item  enabled-info="editorEnabled" swagger-base="basicInfo.info.license" item="url" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                </div>
                
                <info-item  enabled-info="editorEnabled" swagger-base="basicInfo.info" item="version" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

                
            </div>
            
            <info-item  enabled-info="editorEnabled" swagger-base="basicInfo" item="host" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
            
            <info-item  enabled-info="editorEnabled" swagger-base="basicInfo" item="basePath" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
            
            <info-item  enabled-info="editorEnabled" swagger-base="basicInfo" item="schemes" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

            <info-item  enabled-info="editorEnabled" swagger-base="basicInfo" item="consumes" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
            
            <info-item  enabled-info="editorEnabled" swagger-base="basicInfo" item="produces" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>

            {{ basicInfo }}
        </div>
        
        <div class="container" ng-controller="swaggerPaths">
            <h2>Paths</h2> 
            
            
            
            {{ swagger  }}
            
            <input type="button" ng-click="addPath()" value="addPath" class="btn btn-primary">
            
            
            <div ng-repeat="path in paths">
                <div ng-if="path.isUnique === false" class="alert alert-danger" role="alert">Error: Enter a unique path</div>
                <input type="text" ng-model="path.newName"> 
                <input type="button" ng-click="updatePathName(path.currentName, path)" value="change" class="btn btn-primary"> 
                <input type="button" ng-click="deletePath(paths, $index)" value="delete" class="btn btn-primary">
                
                <div class="container">
                    <span class="container">
                        <div class=" btn-group" role="group" aria-label="...">
                            <button ng-class="{ 'active' :path.selectedVerb == 'post'}" type="button" class="btn btn-default" ng-click="selectVerb(path, 'post')">Post</button>
                            <button ng-class="{ 'active' :path.selectedVerb == 'put'}" type="button" class="btn btn-default" ng-click="selectVerb(path, 'put')">Put</button>
                            <button ng-class="{ 'active' :path.selectedVerb == 'get'}"type="button" class="btn btn-default" ng-click="selectVerb(path, 'get')">Get</button>
                            <button ng-class="{ 'active' :path.selectedVerb == 'delete'}" type="button" class="btn btn-default" ng-click="selectVerb(path, 'delete')">Delete</button>
                            <button type="button" class="btn btn-default" ng-click="deleteVerb(path)">remove current verb</button>
                            <button type="button" class="btn btn-default" ng-click="path.isCollapsed = !path.isCollapsed">toggle</button>
                        </div>
                        <div class="container" ng-if="path.selectedVerb">
                            <div collapse="path.isCollapsed">
                                <h3>{{ path.selectedVerb }}</h3>
                                <div class="container" ng-model="path.pathDefinition[path.currentName][path.selectedVerb]">
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="tags" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="summary" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="description" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="operationId" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="produces" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="consumes" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="schemes" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                    <info-item  enabled-info="editorEnabled" swagger-base="path.pathDefinition[path.currentName][path.selectedVerb]" item="deprecated" disable-edit="disableEditors()" enable-edit="enableEditor(property)"></info-item>
                                </div>
                            </div>
                        </div>
                    </span>
                        
                    {{$index}}
                    {{path}} 
                </div>
    
                
                
            </div>
            
        </div>
        
        
    </body>
</html>