<html lang="en-us" >
  <head>
    <title>Swagger Graphical Editor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <!-- angular material start -->
    <!-- angular material end -->
    <!--Import jQuery before materialize.js-->
    <!-- dependencies -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--materialize css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <!-- Angularjs -->
    <script src="//code.angularjs.org/1.4.3/angular.min.js"></script>
    <!-- angular-materialize -->
    <script type="text/javascript" src="js/bower_components/angular-materialize/src/angular-materialize.js"></script>
    <!-- app -->
    <script src="js/src/sge.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--script src="../bower_components/angular-materialize/src/angular-materialize.js"></script-->
    <!--style>
      #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
      }
      header, main, footer {
      padding-left: 240px;
      }
      @media only screen and (max-width : 992px) {
      header, main, footer {
      padding-left: 0;
      }
      }
      </style-->
  </head>
  <body ng-app="SwaggerGraphicalEditor" >
    <header>
      <nav class="top-nav green darken-2">
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Swagger Graphical Tool</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
          </ul>
        </div>
      </nav>
      <!--side nav
        <ul id="nav-mobile" class="side-nav fixed hide-on-small-only green lighten-4" style="width:240px;">
        <li class="search" style="position: absolute; left: 0; right: 0; top: 120px; margin-top: 1px; padding: 1px 0 0 0; z-index: 2;">
        <div class="search-wrapper card" style="margin: 0 12px; -webkit-transition: margin .25s ease; -moz-transition: margin .25s ease; -o-transition: margin .25s ease; -ms-transition: margin .25s ease; transition: margin .25s ease;">
        <input id="search" style="    display: block; font-size: 16px; font-weight: 300; width: 100%; height: 45px; padding: 0 45px 0 15px; border: 0;">
        <i class="material-icons" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">search</i>
        <div class="search-results" style="margin: 0; border-top: 1px solid #e9e9e9; background-color: #fff;"></div>
        </div>
        </li>
        <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
        <li class="bold">
        <a class="collapsible-header  waves-effect waves-teal">APIs</a>
        <div class="collapsible-body" style="">
        <ul>
        <li><a href="color.html">Color</a></li>
        <li><a href="grid.html">Grid</a></li>
        <li><a href="helpers.html">Helpers</a></li>
        <li><a href="media-css.html">Media</a></li>
        <li><a href="sass.html">Sass</a></li>
        <li><a href="shadow.html">Shadow</a></li>
        <li><a href="table.html">Table</a></li>
        <li><a href="typography.html">Typography</a></li>
        </ul>
        </div>
        </li>
        </ul>
        </li>
        </ul>
        -->
    </header>
    <main>
      <!--div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
      </div-->
      <div class="container" ng-controller="swaggerBaseController">
        <div class="row">
          <form ng-submit="updateInfo()">
            <div class="col s12">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <h3>{{ basicInfo.info.title + ' API' }}</h3>
                  <p>Start building your Swagger definition by describing some basic info. Watch out some
                    fields are required to enter, But don't worry we will prompt you if anything is missing.
                  </p>
                  <div class="row">
                    <div class="col s12 m6">
                      <span class="card-title">Info</span>
                      <div class="row">
                        <div class="col s12">
                          <div class="row">
                            <div class="input-field col s8">
                              <input id="title" type="text" ng-model="basicInfo.info.title" required="" aria-required="true">
                              <label for="title">Title</label>
                            </div>
                            <div class="input-field col s4">
                              <input id="version" type="text" ng-model="basicInfo.info.version" required="" aria-required="true">
                              <label for="version">Version</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <textarea id="description" ng-model="basicInfo.info.description" class="materialize-textarea"></textarea>
                              <label for="description">Description</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12">
                              <span class="cardTitle">Schemes </span>
                              <div class="row">
                                <div class="input-field col s3">
                                  <p>
                                    <input type="checkbox" id="http" ng-click="updateCheckBox('http')"/>
                                    <label for="http">http</label>
                                  </p>
                                </div>
                                <div class="input-field col s3">
                                  <p>
                                    <input type="checkbox" id="https" ng-click="updateCheckBox('https')"/>
                                    <label for="https">https</label>
                                  </p>
                                </div>
                                <div class="input-field col s3">
                                  <p>
                                    <input type="checkbox" id="ws" ng-click="updateCheckBox('ws')"/>
                                    <label for="ws">ws</label>
                                  </p>
                                </div>
                                <div class="input-field col s3">
                                  <p>
                                    <input type="checkbox" id="wss" ng-click="updateCheckBox('wws')"/>
                                    <label for="wss">wss</label>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6 m3 l3">
                              <input id="host" type="text" ng-model="basicInfo.host"></input>
                              <label for="host">Host</label>
                            </div>
                            <div class="input-field col s6 m3 l3">
                              <input id="basePath" type="text" ng-model="basicInfo.basePath"></input>
                              <label for="basePath">Basepath</label>
                            </div>
                            <div class="input-field col s6 m3 l3">
                              <input id="produces" type="text" ng-model="basicInfo.produces"></input>
                              <label for="produces">Produces</label>
                            </div>
                            <div class="input-field col s6 m3 l3">
                              <input id="consumes" type="text" ng-model="basicInfo.consumes"></input>
                              <label for="consumes">Consumes</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col s12 m6">
                      <div class="row">
          <form class="col s12">
          <span class="card-title">Contact</span>
          <div class="row">
          <div class="input-field col s4">
          <input id="contact_name" type="text" ng-model="basicInfo.info.contact.name" ></input>
          <label for="contact_name">Name</label>
          </div>
          <div class="input-field col s4">
          <input id="contact_url" type="text" ng-model="basicInfo.info.contact.url"></input>
          <label for="contact_url">Url</label>
          </div>
          <div class="input-field col s4">
          <input id="contactemail" type="email" class="validate" ng-model="basicInfo.info.contact.email"></input>
          <label for="contact_textarea-description" data-error="enter valid email">Email</label>
          </div>
          </div>
          <span class="card-title">License</span>
          <div class="row">
          <div class="input-field col s6">
          <input id="license_name" type="text" ng-model="basicInfo.info.license.name"></input>
          <label for="license_name">Name</label>
          </div>
          <div class="input-field col s6">
          <input id="license_url" type="text" ng-model="basicInfo.info.license.url"></input>
          <label for="license_url">Url</label>
          </div>
          </div>
          <div class="row">
          <div class="input-field col s12">
          <input id="terms" type="text" ng-model="basicInfo.info.termsOfService"></input>
          <label for="terms">Terms Of Service</label>
          </div>
          </div>
          </form>
          </div>
          </div>
          </div>
          </div>
          <div class="card-action">
          <button class="btn waves-effect waves-light disabled" type="submit" name="action" ng-class="{ 'disabled': preventUpdate }">Update
          <!--i class="material-icons right">send</i-->
          </button>
          </div>
          </div>
          </div>
          </form>
        </div>
        {{basicInfo}}
        {{service}}
      </div>
      <div class="container" ng-controller="PathController as pathCtl">
        {{thisObject}}
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <div class="row valign-wrapper">
                  <div class="col s3 m2 l2 valign">
                    <h3>Paths</h3>
                  </div>
                  <div class="col s3 m8 l8">
                    <a class="btn-flat" ng-click="togglePaths()">
                    <i class="large material-icons">swap_vert</i>
                    </a>
                  </div>
                  <div class="col s6 m2 l2 valign right-align">
                    <a class="btn-floating btn-large waves-effect waves-light green accent-4" href="#path-creation-modal" modal>
                    <i class="material-icons">add</i>
                    </a>
                    <!-- Path Creation Modal Structure -->
                    <!--div id="path-creation-modal" class="modal blue-grey darken-1" -->
                    <div id="path-creation-modal" ng-controller="PathModalController as pathModal" class="modal blue-grey darken-1 modal-fixed-footer" >
                      <form name="addPathForm" ng-submit="pathModal.addPath(pathModal.newPath.name, pathModal.newPath.operations)" >
                        <div class="modal-content">
                          <div class="row">
                            <div class="left-align col s12">
                              <h4>Create New Path</h4>
                            </div>
                            <div class="input-field col s12 ">
                              <input id="path-name" type="text" ng-model="pathModal.newPath.name" required="" aria-required="true">
                              <label for="path-name">Path Name</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="left-align" style="padding-left:15px;">Operations </div>
                            <!--label> Operations <label-->
                            <div class="col s12 l6">
                              <div class="row">
                                <div ng-repeat="(operation, value) in pathModal.newPath.operations" class="col s3" >
                                  <p unique-checkbox>
                                    <input type="checkbox" id="input" ng-model="pathModal.newPath.operations[operation]"/>
                                    <label id="label" for="label">{{operation | uppercase}}</label>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer blue-grey darken-1 ">
                          <div>
                            <!--button type="submit" ng-show="!pathModal.newPath.name"
                              class=" waves-effect waves-green btn disabled">
                              Add Path
                              </button>
                              <button type="submit" close-path-modal ng-hide="!pathModal.newPath.name"
                              class=" waves-effect waves-green btn">
                              Add Path
                            </button-->
                            <button type="submit" close-path-modal ng-class="{'disabled': !pathModal.newPath.name}"
                              class=" waves-effect waves-green btn">
                            Add Path
                          </button>
                          </div>
                          <div class="container">
                            <button class=" waves-effect waves-green btn modal-action modal-close">
                            Cancel
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                {{pathCtl.paths}}
                <div ng-hide="pathCtl.prevent.showPaths" ng-repeat="(pathName, pathValue) in pathCtl.paths">
                  <div class="row valign-wrapper">
                    <div class="input-field valign col s8">
                      <input id="path-name" ng-attr-placeholder="{{pathName}}" type="text" ng-model="pathCtl[pathName].newName">
                      <!--label for="path-name">Path Name</label-->
                    </div>
                    <div class="valign col s2">
                      <button class="btn waves-effect waves-light" type="button" ng-click="pathCtl.updatePathName(pathName, pathCtl[pathName].newName)" name="action">
                        Update
                        <!--i class="material-icons right">send</i-->
                      </button>
                    </div>
                    <div class="valign col s2">
                      <button class="btn-flat waves-effect waves-light" type="submit" name="action" ng-click="pathCtl.deletePath(pathName)">
                      <i class="material-icons">delete</i>
                      </button>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="left-align" style="padding-left:15px;">Operations </div>
                    <div class="col s12 l6">
                      <div class="row" >
                        <div class="col s3" ng-repeat="(operation, value) in pathCtl.paths[pathName]" ng-hide="pathCtl.paths[pathName][operation]">
                          <a ng-class="{'blue': '{{operation}}' == 'get',
                            'orange': '{{operation}}' === 'put',
                            'green': '{{operation}}' === 'post',
                            'red': '{{operation}}' === 'delete', }"
                            class="waves-effect waves-light btn" ng-click="pathCtl.addOperation(pathName, operation)">
                          {{operation | uppercase}}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" >
                    <div ng-repeat="(operation, value) in pathCtl.paths[pathName]" ng-show="pathCtl.paths[pathName][operation]" class="valign-wrapper">
                      <div class="col s11 valign">
                        <ul class="collapsible blue-grey darken-2" init-collapse data-collapsible="accordion">
                          <li>
                            <div ng-class="{'blue': '{{operation}}' == 'get',
                              'orange': '{{operation}}' === 'put',
                              'green': '{{operation}}' === 'post',
                              'red': '{{operation}}' === 'delete', }"
                              class="collapsible-header "><i class="material-icons">filter_drama</i>{{ operation | uppercase }}   {{ " " + path.currentName}}</div>
                            <div class="collapsible-body ">
                              <div class="section">
                                <div unique-checkbox class="input-field col s12">
                                  <input id="input" ng-model="test1" maxlength="150" type="text"/>
                                  <label id="label"  for="label">Summary</label>
                                </div>
                                <div unique-checkbox class="input-field col s12">
                                  <textarea id="input" ng-model="test2" class="materialize-textarea"></textarea>
                                  <label id="label" for="label">Description</label>
                                </div>
                              </div>
                              <div class="section"
                                    ng-if="pathCtl.paths[pathName][operation]"
                                    ng-controller="parameterController as paramControl"
                                    ng-init="paramControl.initController(pathName, operation)">
                                <h5>Parameter</h5>
                                {{paramControl.paths}}
                                <div></div>
                                <table class=" section bordered responsive-table">
                                  <thead>
                                    <tr>
                                      <th data-field="name">Name</th>
                                      <th data-field="in">Located In</th>
                                      <th data-field="description">Description</th>
                                      <th data-field="required">Required</th>
                                      <th data-field="Schema">Schema</th>
                                      <th data-field="Edit">Edit</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <!--tr ng-repeat="param in paramControl.parametersList[operation] | orderBy:'name'"-->
                                    <tr ng-repeat="param in pathCtl.paths[pathName][operation].parameters.parameterList | orderBy:'name'">
                                      <div >
                                        <td>{{param.name}}</td>
                                        <td>{{param.inLocation}}</td>
                                        <td class="shrink">{{param.description}}</td>
                                        <td>{{param.required}}</td>
                                        <td class="shrink">{{param.schema}}</td>
                                        <td>
                                          <a class="disabled" href="#param-modal" modal ng-click="paramControl.editParamData(pathName, operation, param.name, param.inLocation)">
                                          <i class="material-icons">settings</i>
                                          </a>
                                        </td>
                                      </div>

                                    </tr>
                                  </tbody>
                                </table>
                                {{paramControl.parametersList}}
                                <form ng-submit="paramControl.addParam(pathName, operation, paramControl.newParamData[operation].name, paramControl.newParamData[operation].inLocation)">
                                  <div class="valign-wrapper">
                                    <div unique-checkbox class="input-field col s4 valign">
                                      <input id="input" ng-model="paramControl.newParamData[operation].name" type="text" required="" aria-required="true"/>
                                      <label id="label" for="label">Parameter Name</label>
                                    </div>
                                    <div class="input-field col s4 valign" >
                                      <select class="browser-default" ng-model="paramControl.newParamData[operation].inLocation" style="background-color: #455a64;">
                                        <option  value="" disabled selected>Choose your Parameter Location</option>
                                        <option value="path">Path</option>
                                        <option value="query">Query</option>
                                        <option value="header">Header</option>
                                        <option value="body">Body</option>
                                        <option value="formData">Form Data</option>
                                      </select>
                                    </div>
                                    <div class="col s4 valign">
                                      <button  class="waves-effect waves-light btn" ng-class="{ 'disabled': !paramControl.newParamData[operation].name }">
                                      <i class="material-icons">add</i>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>

                              <div class="section" ng-controller="responseController as responseControl">
                                <h5>Response</h5>
                                <div></div>
                                <table class=" section bordered responsive-table">
                                  <thead>
                                    <tr>
                                      <th data-field="code">Code</th>
                                      <th data-field="description">Description</th>
                                      <th data-field="Schema">Schema</th>
                                      <th data-field="Edit">Edit</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="response in responseControl.responseList[operation] | orderBy:'code'">
                                      <div >
                                        <td>{{response.code}}</td>
                                        <td class="shrink">{{response.description}}</td>
                                        <td class="shrink">{{response.schema}}</td>
                                        <td>
                                          <a class="disabled" href="#response-modal" modal ng-click="initResponseData(path.currentName, operation, responseControl.newResponseData[operation].httpCode)">
                                          <i class="material-icons">settings</i>
                                          </a>
                                        </td>
                                      </div>
                                    </tr>
                                  </tbody>
                                </table>
                                <form ng-submit="responseControl.addResponse(path, operation, responseControl.newResponseData[operation].httpCode, responseControl.newResponseData[operation].description)">
                                  <div class="valign-wrapper">
                                    <div unique-checkbox class="input-field col s4 valign">
                                      <input id="input" ng-model="responseControl.newResponseData[operation].httpCode" type="text" required="" aria-required="true"/>
                                      <label id="label" for="label">Response Code</label>
                                    </div>
                                    <div unique-checkbox class="input-field col s4 valign">
                                      <input id="input" ng-model="responseControl.newResponseData[operation].description" type="text" required="" aria-required="true"/>
                                      <label id="label" for="label">Response Description</label>
                                    </div>
                                    <div class="col s4 valign">
                                      <button  class="waves-effect waves-light btn"
                                        ng-class="{ 'disabled': !responseControl.newResponseData[operation].httpCode}">
                                      <i class="material-icons">add</i>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <!-- MODAL for RESPONSE UPDATE
                              <div id="response-modal" class="modal blue-grey darken-1 modal-fixed-footer">
                                <form ng-submit="updateParameter()">
                                  <div class="modal-content white-text">
                                    {{tempParam}}
                                    <div class="row">
                                      <div class="left-align col s12">
                                        <h4>Parameter Options</h4>
                                      </div>
                                    </div>
                                    <div class="row valign-wrapper">
                                      <div class="input-field col s3 valign">
                                        <input id="newParamUtil" ng-model="tempParam.name" type="text" required="" aria-required="true"/>
                                        <label for="newParamUtil">Parameter Name</label>
                                      </div>
                                      <div class="input-field col s3 valign" >
                                        <select class="browser-default" style="background-color: #455a64;" select-value ng-model="tempParam.inLocation" ng-change="setParamInModal(tempParam.inLocation)" >
                                          <option value="" disabled selected>Parameter Location</option>
                                          <option value="path" id="path">Path</option>
                                          <option value="query" id="query">Query</option>
                                          <option value="header" id="header">Header</option>
                                          <option value="body" id="body">Body</option>
                                          <option value="formData" id="formData">Form Data</option>
                                        </select>
                                      </div>
                                      <div class="col s3 valign" ng-if="tempParam.inLocation !== 'path'">
                                        <p >
                                          <input type="checkbox" ng-model="tempParam.required" id="required" />
                                          <label for="required">required</label>
                                        </p>
                                      </div>
                                      <div class=" col s3 valign" >
                                        <p>
                                          <input type="checkbox" ng-model="tempParam.allowEmptyValue" id="allowEmptyValue" />
                                          <label for="allowEmptyValue">Allow Empty Value</label>
                                        </p>
                                      </div>
                                    </div>
                                    <div ng-if="tempParam.inLocation !== 'body'" class="row">
                                      <div class="input-field col s12">
                                        <textarea id="param-description" ng-model="tempParam.description" class="materialize-textarea"></textarea>
                                        <label for="param-description">Description</label>
                                      </div>
                                      <div class="input-field col s4 valign" >
                                        <select class="browser-default" style="background-color: #455a64;" select-value ng-model="tempParam.type" >
                                          <option value="" disabled selected>Parameter Type</option>
                                          <option value="string" id="string">string</option>
                                          <option value="number" id="number">number</option>
                                          <option value="integer" id="integer">integer</option>
                                          <option value="boolean" id="boolean">boolean</option>
                                          <option value="array" id="array">array</option>
                                          <option value="file" id="file">file</option>
                                        </select>
                                      </div>
                                      <div class="input-field col s4 valign" >
                                        <select class="browser-default" style="background-color: #455a64;" select-value ng-model="tempParam.format" >
                                          <option value="" disabled selected>Parameter Format</option>
                                          <option value="int32" id="format-int32">int32</option>
                                          <option value="int64" id="format-int64">int64</option>
                                          <option value="float" id="format-float">float</option>
                                          <option value="double" id="format-double">double</option>
                                          <option value="string" id="format-string">string</option>
                                          <option value="byte" id="format-byte">byte</option>
                                          <option value="binary" id="format-binary">binary</option>
                                          <option value="boolean" id="format-boolean">boolean</option>
                                          <option value="date" id="format-date">date</option>
                                          <option value="date-time" id="format-date-time">date-time</option>
                                          <option value="password" id="format-password">password</option>
                                        </select>
                                      </div>
                                      <div class="input-field col s4 valign" >
                                        <select class="browser-default" style="background-color: #455a64;" select-value ng-model="tempParam.collectionFormat">
                                          <option value="" disabled selected>Collection Format</option>
                                          <option value="csv" id="csv">csv</option>
                                          <option value="ssv" id="ssv">ssv</option>
                                          <option value="tsv" id="tsv">tsv</option>
                                          <option value="pipes" id="pipes">pipes</option>
                                          <option ng-if="tempParam.inLocation === 'query' || tempParam.inLocation === 'formData'"
                                                  value="multi" id="multi">multi</option>
                                        </select>
                                      </div>
                                      <div class="input-field col s12 valign" >
                                        <div ng-if="tempParam.type === 'array'">
                                          <textarea id="param-items" ng-model="tempParam.items" class="materialize-textarea" required="" aria-required="true"></textarea>
                                          <label for="param-items">Items</label>
                                        </div>
                                      </div>
                                      <div  class="input-field col s12 l6">
                                        <textarea id="param-extra" ng-model="tempParam.extra" class="materialize-textarea"></textarea>
                                        <label for="param-extra">Extra values</label>
                                      </div>
                                    </div>
                                    <div  ng-if="tempParam.inLocation === 'body'" class="row">
                                      <div class="input-field col s12 l6">
                                        <textarea id="param-description" ng-model="tempParam.description" class="materialize-textarea"></textarea>
                                        <label for="param-description">Description</label>
                                      </div>
                                      <div class="input-field col s12 l6">
                                        <textarea id="param-schema" ng-model="tempParam.schema" class="materialize-textarea"></textarea>
                                        <label for="param-schema">Schema</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer blue-grey darken-1 ">
                                    <button type="submit" ng-show="prevent.paramConfig"
                                      class=" waves-effect waves-green btn disabled">
                                    Add Path
                                    </button>
                                    <button type="submit" ng-hide="prevent.paramConfig"
                                      class=" waves-effect waves-green btn modal-action modal-close">
                                    Add Path
                                    </button>
                                    <div class="container">
                                      <button class=" waves-effect waves-green btn modal-action modal-close">
                                      Cancel
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div -->

                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col s1 valign" >
                        <button class="btn-flat waves-effect waves-light" type="submit" name="action" ng-click="pathCtl.deleteOperation(pathName, operation)">
                        <i class="material-icons">delete</i>
                        </button>
                      </div>
                    </div>
                    {{path}}
                  </div>
                </div>
                {{paths}}
              </div>
            </div>
          </div>
        </div>
        <!-- MODAL FOR PARAM SPECIFICATION -->
        <div id="param-modal" class="modal blue-grey darken-1 modal-fixed-footer" ng-controller="ParameterModalController as paramModalControl">
          <form ng-submit="paramModalControl.updateParameter()">
            <div class="modal-content white-text">
              {{paramModalControl.tempParam}}
              <div class="row">
                <div class="left-align col s12">
                  <h4>Parameter Options</h4>
                </div>
              </div>
              <div class="row valign-wrapper">
                <div class="input-field col s3 valign">
                  <input id="newParamUtil" ng-model="paramModalControl.tempParam.name" type="text" required="" aria-required="true"/>
                  <label for="newParamUtil">Parameter Name</label>
                </div>
                <div class="input-field col s3 valign" >
                  <select class="browser-default" style="background-color: #455a64;" select-value ng-model="paramModalControl.tempParam.inLocation" ng-change="paramModalControl.setParamInModal(paramModalControl.tempParam.inLocation)" >
                    <option value="" disabled selected>Parameter Location</option>
                    <option value="path" id="path">Path</option>
                    <option value="query" id="query">Query</option>
                    <option value="header" id="header">Header</option>
                    <option value="body" id="body">Body</option>
                    <option value="formData" id="formData">Form Data</option>
                  </select>
                  <!--label>In</label-->
                </div>
                <div class="col s3 valign" ng-if="paramModalControl.tempParam.inLocation !== 'path'">
                  <p >
                    <input type="checkbox" ng-model="paramModalControl.tempParam.required" id="required" />
                    <label for="required">required</label>
                  </p>
                </div>
                <div class=" col s3 valign" >
                  <p>
                    <input type="checkbox" ng-model="paramModalControl.tempParam.allowEmptyValue" id="allowEmptyValue" />
                    <label for="allowEmptyValue">Allow Empty Value</label>
                  </p>
                </div>
              </div>
              <div ng-if="paramModalControl.tempParam.inLocation !== 'body'" class="row">
                <div class="input-field col s12">
                  <textarea id="param-description" ng-model="paramModalControl.tempParam.description" class="materialize-textarea"></textarea>
                  <label for="param-description">Description</label>
                </div>
                <div class="input-field col s4 valign" >
                  <select class="browser-default" style="background-color: #455a64;" select-value ng-model="paramModalControl.tempParam.type" >
                    <option value="" disabled selected>Parameter Type</option>
                    <option value="string" id="string">string</option>
                    <option value="number" id="number">number</option>
                    <option value="integer" id="integer">integer</option>
                    <option value="boolean" id="boolean">boolean</option>
                    <option value="array" id="array">array</option>
                    <option value="file" id="file">file</option>
                  </select>
                </div>
                <div class="input-field col s4 valign" >
                  <select class="browser-default" style="background-color: #455a64;" select-value ng-model="paramModalControl.tempParam.format" >
                    <option value="" disabled selected>Parameter Format</option>
                    <option value="int32" id="format-int32">int32</option>
                    <option value="int64" id="format-int64">int64</option>
                    <option value="float" id="format-float">float</option>
                    <option value="double" id="format-double">double</option>
                    <option value="string" id="format-string">string</option>
                    <option value="byte" id="format-byte">byte</option>
                    <option value="binary" id="format-binary">binary</option>
                    <option value="boolean" id="format-boolean">boolean</option>
                    <option value="date" id="format-date">date</option>
                    <option value="date-time" id="format-date-time">date-time</option>
                    <option value="password" id="format-password">password</option>
                  </select>
                </div>
                <div class="input-field col s4 valign" >
                  <select class="browser-default" style="background-color: #455a64;" select-value ng-model="paramModalControl.tempParam.collectionFormat">
                    <option value="" disabled selected>Collection Format</option>
                    <option value="csv" id="csv">csv</option>
                    <option value="ssv" id="ssv">ssv</option>
                    <option value="tsv" id="tsv">tsv</option>
                    <option value="pipes" id="pipes">pipes</option>
                    <option ng-if="paramModalControl.tempParam.inLocation === 'query' || paramModalControl.tempParam.inLocation === 'formData'"
                            value="multi" id="multi">multi</option>
                  </select>
                </div>

                <div class="input-field col s12 valign" >
                  <div ng-if="paramModalControl.tempParam.type === 'array'">
                    <textarea id="param-items" ng-model="paramModalControl.tempParam.items" class="materialize-textarea" required="" aria-required="true"></textarea>
                    <label for="param-items">Items</label>
                  </div>
                </div>

                <div  class="input-field col s12 l6">
                  <textarea id="param-extra" ng-model="paramModalControl.tempParam.extra" class="materialize-textarea"></textarea>
                  <label for="param-extra">Extra values</label>
                </div>
              </div>
              <div  ng-if="paramModalControl.tempParam.inLocation === 'body'" class="row">
                <div class="input-field col s12 l6">
                  <textarea id="param-description" ng-model="paramModalControl.tempParam.description" class="materialize-textarea"></textarea>
                  <label for="param-description">Description</label>
                </div>
                <div class="input-field col s12 l6">
                  <textarea id="param-schema" ng-model="paramModalControl.tempParam.schema" class="materialize-textarea"></textarea>
                  <label for="param-schema">Schema</label>
                </div>
              </div>
            </div>
            <div class="modal-footer blue-grey darken-1 ">
              <button type="submit" ng-show="prevent.paramConfig"
                class=" waves-effect waves-green btn disabled">
              Add Path
              </button>
              <button type="submit" ng-hide="prevent.paramConfig"
                class=" waves-effect waves-green btn modal-action modal-close">
              Add Path
              </button>
              <div class="container">
                <button class=" waves-effect waves-green btn modal-action modal-close">
                Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <div class="row valign-wrapper">
                  <div class="col s6 m8 l10 valign">
                    <h3>Definitions</h3>
                  </div>
                  <div class="col s6 m4 l2 valign right-align">
                    <a class="btn-floating btn-large waves-effect waves-light green accent-4">
                    <i class="material-icons">add</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer green">
      <div class="container green">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright green darken-2">
        <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
