<div style="margin-left:2.33%;" ng-cloak>
    <form name="infoForm" >
        <div class="card ">
          <md-toolbar style="background-color:#3F1C3E;">
            <div class="md-toolbar-tools">
              <h2>
                <span>{{ $ctrl.sgBase.info.title + ' API'}}</span>
              </h2>

            </div>
          </md-toolbar>
          <div class="card-content">
            <div style="display:flex flex-flow:column nowrap">
                <p>Start building your Swagger definition by describing some basic info. Watch out some
                  fields are required to enter, but don't worry we will prompt you if anything is missing. For more info on <a href="http://swagger.io/specification/">Swagger Specification</a> or the <a href="https://openapis.org/">Open API</a> initiative.
                </p>
                <div style="display:flex; flex-flow:row nowrap; margin-top: 20px;">
                    <div style="display:flex; flex-flow:column nowrap; margin-right:10px;">
                      <span class="card-title">Info</span>
                      <div style="display:flex; flex-flow:column nowrap">
                          <div style="display:flex; flex-flow:row nowrap;">
                              <md-input-container style="flex-grow:1;">
                                  <label>Title</label>
                                  <input
                                      type="text"
                                      ng-model="$ctrl.sgBase.info.title"
                                      name="apiName"
                                      required>
                                  <div ng-if="infoForm.apiName.$dirty">
                                      <div ng-messages="infoForm.apiName.$error" role="alert" >
                                          <div ng-message="required">
                                              The API name is required.
                                          </div>
                                      </div>
                                  </div>
                              </md-input-container>
                              <md-input-container style="flex-grow:1;">
                                  <label>Version</label>
                                  <input
                                      type="text"
                                      ng-model="$ctrl.sgBase.info.version"
                                      ng-pattern="/^([v]?)([0-9]+)((\.([0-9]+))*)?$/"
                                      name="version"
                                      required>
                                  <div ng-if="infoForm.version.$dirty">
                                      <div  ng-messages="infoForm.version.$error" role="alert" >
                                          <div ng-message-exp="['required','pattern']">
                                              not an allowed format.
                                          </div>
                                      </div>
                                  </div>
                              </md-input-container>
                          </div>
                          <md-input-container style="flex-grow:1;">
                              <label>Description</label>
                              <textarea ng-model="$ctrl.sgBase.info.description"
                              md-maxlength="150"
                              rows="5"
                              md-select-on-focus></textarea>
                          </md-input-container>
                          <div style="display:flex; flex-flow:row nowrap;">
                              <md-input-container style="flex-grow:1;">
                                  <label>Host</label>
                                  <input
                                      type="text"
                                      ng-model="$ctrl.sgBase.host">
                              </md-input-container>
                              <md-input-container style="flex-grow:1;">
                                  <label>Base Path</label>
                                  <input
                                      type="text"
                                      ng-model="$ctrl.sgBase.basePath">
                              </md-input-container>
                          </div>
                      </div>
                    </div>
                    <div style="display:flex; flex-flow:column nowrap; justify-content:space-between; margin-left:10px;">
                        <div style="display:flex; flex-flow:column nowrap">
                            <span class="card-title">Contact</span>
                            <div style="display:flex; flex-flow:row nowrap">
                                <md-input-container style="flex-grow:1;">
                                    <label>Name</label>
                                    <input
                                        type="text"
                                        ng-model="$ctrl.sgBase.info.contact.name">
                                </md-input-container>
                                <md-input-container style="flex-grow:1;">
                                    <label>Url</label>
                                    <input
                                        type="text"
                                        ng-model="$ctrl.sgBase.info.contact.url">
                                </md-input-container>
                                <md-input-container style="flex-grow:1;">
                                    <label>eMail</label>
                                    <input
                                        type="text"
                                        ng-model="$ctrl.sgBase.info.contact.email">
                                </md-input-container>
                            </div>
                        </div>
                        <div style="display:flex; flex-flow:column nowrap">
                            <span class="card-title">License</span>
                            <div style="display:flex; flex-flow:row nowrap">
                                <md-input-container
                                    ng-if="$ctrl.sgBase.info.license.url"
                                    style="flex-grow:1;"
                                    require>
                                    <label>Name</label>
                                    <input
                                        type="text"
                                        name="licenseUrl"
                                        ng-model="$ctrl.sgBase.info.license.name">
                                    <div ng-if="infoForm.licenseUrl.$dirty">
                                        <div ng-messages="infoForm.licenseUrl.$error" role="alert" >
                                            <div ng-message="required">
                                                The license name is required.
                                            </div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container
                                    ng-if="!$ctrl.sgBase.info.license.url"
                                    style="flex-grow:1;">
                                    <label>Name</label>
                                    <input
                                        type="text"
                                        ng-model="$ctrl.sgBase.info.license.name">
                                </md-input-container>
                                <md-input-container style="flex-grow:1;">
                                    <label>Url</label>
                                    <input
                                        type="text"
                                        ng-model="$ctrl.sgBase.info.license.url">
                                </md-input-container>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <span class="card-title">Types</span>
                <div style="display:flex; flex-direction:column; justify-content:space-between;" >
                  <div ng-hide="$ctrl.state.produce === 'create custom'" style="display:flex; flex-direction:row;" >
                    <sg-dropdown sg-label="Produces" ng-model="$ctrl.state.produce" sg-choices="$ctrl.types.mime"></sg-dropdown>
                    <button  class="btn-flat waves-effect waves-white white valign" ng-click="$ctrl.addType('produces', $ctrl.state.produce);">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <div ng-show="$ctrl.state.produce === 'create custom'">
                        <md-input-container style="display:flex; flex-direction:row-reverse;">
                            <input ng-model="$ctrl.state.customProduce" placeholder="Custom Produce Type">
                            <md-button class="md-primary" ng-click="$ctrl.state.consume = null">
                                <i class="material-icons">replay</i>
                                <md-tooltip md-direction="bottom">
                                    Go Back
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-primary" ng-click="$ctrl.addType('produces', $ctrl.state.customProduce, true);">
                                <i class="material-icons">add</i>
                                <md-tooltip md-direction="bottom">
                                    Add Custom Consume
                                </md-tooltip>
                            </md-button>
                        </md-input-container>
                  </div>
                  <div ng-if="$ctrl.sgBase.produces.length > 0;" style="display:flex; flex-direction:row;">
                    <div style="display:flex; flex-direction:column; justify-content:flex-start; flex-grow:1;" >
                      <div ng-repeat="produce in $ctrl.sgBase.produces" style="display:flex; flex-direction:row; align-items: center;">
                          <md-button style="display:flex; justify-content: center;" class="md-primary" ng-click="$ctrl.removeType('produces', produce);">
                              <i class="material-icons">delete</i>
                          </md-button>
                          <p style="display:flex; flex-grow:1;"> {{ produce }} </p>
                      </div>
                    </div>
                  </div>
                  <div ng-hide="$ctrl.state.consume === 'create custom'" style="display:flex; flex-direction:row;">
                    <sg-dropdown sg-label="Consumes" ng-model="$ctrl.state.consume" sg-choices="$ctrl.types.mime"></sg-dropdown>
                    <button class="btn-flat waves-effect waves-white white" ng-click="$ctrl.addType('consumes', $ctrl.state.consume);">
                      <i class="material-icons">add</i>
                    </button>
                  </div>
                  <div ng-show="$ctrl.state.consume === 'create custom'">
                      <md-input-container style="display:flex; flex-direction:row-reverse;">
                          <input ng-model="$ctrl.state.customConsume" placeholder="Custom Consume Type">
                          <md-button class="md-primary" ng-click="$ctrl.state.consume = null">
                              <i class="material-icons">replay</i>
                              <md-tooltip md-direction="bottom">
                                  Go Back
                              </md-tooltip>
                          </md-button>
                          <md-button class="md-primary" ng-click="$ctrl.addType('consumes', $ctrl.state.customConsume, true);">
                              <i class="material-icons">add</i>
                              <md-tooltip md-direction="bottom">
                                 Add Custom Consume
                              </md-tooltip>
                          </md-button>
                      </md-input-container>
                  </div>
                  <div ng-if="$ctrl.sgBase.consumes.length > 0;" style="display:flex; flex-direction:row;">
                      <div style="display:flex; flex-direction:column; justify-content:flex-start; flex-grow:1;" >
                          <div ng-repeat="consume in $ctrl.sgBase.consumes" style="display:flex; flex-direction:row; align-items: center;">
                              <md-button style="display:flex; justify-content: center;" class="md-primary" ng-click="$ctrl.removeType('consumes', consume);">
                                  <i class="material-icons">delete</i>
                              </md-button>
                              <p style="display:flex; flex-grow:1;"> {{ consume }} </p>
                          </div>
                      </div>
                  </div>
                  <div ng-hide="$ctrl.state.scheme === 'custom'" style="display:flex; flex-direction:row;">
                    <sg-dropdown sg-label="Schemes" ng-model="$ctrl.state.scheme" sg-choices="$ctrl.types.scheme"></sg-dropdown>
                    <button class="btn-flat waves-effect waves-white white" type="submit" name="action" ng-click="$ctrl.addType('schemes', $ctrl.state.scheme);">
                      <i class="material-icons" >add</i>
                    </button>
                  </div>

                  <div ng-if="$ctrl.sgBase.schemes.length > 0;" style="display:flex; flex-direction:row;">
                      <div style="display:flex; flex-direction:column; justify-content:flex-start; flex-grow:1;" >
                          <div ng-repeat="scheme in $ctrl.sgBase.schemes" style="display:flex; flex-direction:row; align-items: center;">
                              <md-button style="display:flex; justify-content: center;" class="md-primary" ng-click="$ctrl.removeType('schemes', scheme);">
                                  <i class="material-icons">delete</i>
                              </md-button>
                              <p style="display:flex; flex-grow:1;"> {{ scheme }} </p>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>

    </form>

</div>
